/* Toda a página*/
.Container_Profile {
  height:2500px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}
/* Lado Esquerdo da página*/
.Left_Wrapper_Profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 3000px;
  max-height: 2500px;
    
}
/* Parte que contém toda a parte da exibição do perfil*/
.Data_Profile {
  display: flex;
  flex-direction: row;
  background-color: #323232;
  margin-top: 26px;
  margin-left: 160px;
  border-radius: 0.1cm;
  width: 100%;
  max-width: 750px;
  height: 100%;
  max-height: 260px;
}
/*Foto de Perfil*/
.Photo_Profile {
  width: 100%;
  max-width: 180px;
  height: 100%;
  max-height: 180px;
  margin-top: 35px;
  margin-left: 26px;
  border-radius: 0.1cm;
}
/* Parte que contém todos os dados do usuário dentro da exibição do perfil*/
.Info_User_Profile {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 330px;
  margin-left: 16px;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}
/*Nome do Usuário dentro do Info_User_Profile*/
.Username_Profile {
  width: 500px;
  color: white;
  font-size: 0.8cm;
}
/*Dados do Usuário dentro do Info_User_Profile*/
.Userdata_Profile p {
  color: #808080;
  max-height: 100px;
  font-size: 0.4cm;
  margin: 0;
}
/*Frase do Usuário dentro do Info_User_Profile*/
.Text_Profile {
  color: #808080;
  margin-top: 15px;
  font-size: 0.5cm;
}
/* Parte que contém o botão dentro da exibição do perfil*/
.Button_Profile {
  height: 100%;
  max-height: 330px;
  width: 100%;
  max-width: 300px;
}
/* Editando o botão de Editar Perfil*/
.Button_Profile button {
  border-radius: 0.1cm;
  background-color: #323232;
  border-style: hidden;
  text-decoration: underline;
  color: #3bce3b;
  font-size: 0.5cm;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 100px;
  margin-top:210px;
  margin-bottom: 10px;
  height: 100%;
  max-height: 30px;
  width: 100%;
  max-width: 100px;
}
/* Título abaixo da exibição do perfil*/
.Recent_Games_Title {
  font-size: 1cm;
  margin-left: 160px;
  margin-top: 20px;
  color: white;
}
/* Parte que contém os jogos exibidos no perfil*/
.Recent_Games {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  max-width: 750px;
  height: 100%;
  max-height: 220px;
  background-color: #323232;
  border-radius: 0.1cm;
  margin-left: 160px;
}
/* Editando a Imagem na parte de jogos exibidos no perfil*/
.Recent_Games img{
    height: 100%;
    max-height: 160px;
    margin-top: 30px;
    width: 100%;
    max-width: 350px;
}
/* Parte que contém o nome e horas jogadas*/
.Game_Info_Profile{
    display: flex;
    flex-direction: column;
}
/* Editando o nome*/
.Game_Name_Profile{
    color: white;
    margin-left: 40px;
    margin-top: 25px;
    font-size: 0.8cm;

}
/* Editando a parte de horas registradas*/
.Hours_Played_Profile{
    margin-left: 40px;
    margin-top: 100px;
    color:#808080;

}

/* Espaço botão Biblioteca*/
.Library_Button_Profile{
    margin-top: 40px;
    margin-left: 290px;
    width: 100%;
    max-width: 500px ;
    background-color: #000000;
    font-size: 0.8cm;
    
    border-radius: 0.1cm;
    border-color: #3bce3b;   
}
/* Editando botão Biblioteca*/
.Library_Button_Profile button{
    border-radius: 0.1cm;
    border-color: #3bce3b;
    border-width: 0.07cm;
    background-color: #000000;
    color: #3bce3b;
    width: 100%;
    max-width: 500px ;
}














/* Lado Direito da página*/
.Right_Wrapper_Profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}
.Lista_de_Amigos_Estatica {
  margin-top: 26px;
  margin-right: 15px;
  height: 1145px;
  width: 100%;
  max-width: 220px;
  border-radius: 0.1cm;
  background-color: #323232;
}
.Titulo_Lista_Amigos {
  align-items: center;
  width: 231px;
  margin-top: 20px;
  margin-left: 18px;
  color: #ffffff;
  font-size: 0.7cm;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.Texto_Lista_Amigos {
  width: 231px;
  margin-left: 12px;
  margin-top: 50px;
  display: center;
  color: #ffffff;
  font-size: 0.4cm;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.Lista_Jogos_Perfil {
  color: white;
}
.Info_User_Perfil {
}
.Foto_Perfil {
  width: 100%;
  max-width: 180px;
  height: 180px;
  margin-right: 10px;
  border-radius: 0.1cm;
}
