/* Toda a página*/
.Container_Profile {
  display: flex;
  flex-direction: row;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;
  padding-bottom: 2%;
}
/* Lado Esquerdo da página*/
.Left_Wrapper_Profile {
  display: flex;
  flex-direction: column;
  width: 80%;    
}
/* Lado Direito da página*/
.Right_Wrapper_Profile {
  display: flex;
  flex-direction: column;
  height: 100vw;
  width: 100vw;
}
/* Parte que contém toda a parte da exibição do perfil*/
.Data_Profile {
  padding-left: 2%;
  padding-top:2%;
  padding-bottom:2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  background-color: #323232;
  border-radius: 0.1cm;
  width: 100%;
  max-width:100%;
  height: 20%;
  
}
/*Foto de Perfil*/
.Photo_Profile{
  width: 22.5%;
  height: 100%;
  border-radius: 0.1cm;
}
/* Parte que contém todos os dados do usuário dentro da exibição do perfil*/
.Info_User_Profile {
  width: 100%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}
/*Nome do Usuário dentro do Info_User_Profile*/
.Username_Profile {
  width: 100%;
  color: white;
  font-size: 0.7cm;
}
/*Dados do Usuário dentro do Info_User_Profile*/
.Userdata_Profile p {
  color: #808080;
  max-height: 100%;
  font-size: 80%;
  margin: 0;
}
/* coluna que contém a frase e o botão de editar perfil*/
.Text_and_Button_Box_Profile{
  display: flex;
  flex-direction: row;
}
/*Frase do Usuário dentro do Info_User_Profile*/
.Text_Profile {
  color: #FFFFFF;
  width: 60%;
  margin-top: 7%;
  font-size: 0.45cm;
}
/*Editando espaço do botão de Editar Perfil*/
.Edit_Profile_Button{
  width: 20%;
  align-items: center;
  justify-content: center;
  padding-top: 18%;
}

/* Editando o botão de Editar Perfil*/
.Edit_Profile_Button button {
  background-color: #323232;
  border-style: hidden;
  text-decoration: underline;
  color: #3bce3b;
  font-size: 0.35cm;


}
/* Título abaixo da exibição do perfil*/
.Recent_Games_Title {
  font-size: 1cm;
  
  margin-top: 2%;
  color: white;
}
/* Parte que contém os jogos exibidos no perfil*/
.Recent_Games {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  width: 100%;
  height: 100%;
  background-color: #323232;
  border-radius: 0.1cm;
  
}
/* Editando a Imagem na parte de jogos exibidos no perfil*/
.Recent_Games img{
    height: 100%;
    margin-top: 3%;
    width: 100%;
    max-width: 50%;
}
.Game_Photo_Profile {
 
  width: 100%;
  margin-top: 4.5%;
  margin-left: 4%;
  height: 100%;
  max-height: 73%;
  border-radius: 0.1cm;
  object-fit: cover;
}
/* Parte que contém o nome e horas jogadas*/
.Game_Info_Profile{
    display: flex;
    flex-direction: column;
}
/* Editando o nome*/
.Game_Name_Profile{
    color: white;
    margin-left: 15%;
    margin-top: 9%;
    font-size: 0.8cm;
    width: 100%;

}
/* Editando a parte de horas registradas*/
.Hours_Played_Profile{
    width: 100%;
    margin-left: 15%;
    margin-top: 10%;
    color:#808080;

}

/* Espaço botão Biblioteca*/
.Library_Button_Profile{
  margin-top: 4%;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  font-size: 0.8cm;
  border-radius: 0.1cm;
  border-color: #3bce3b; 
}
/* Editando botão Biblioteca*/
.Library_Button_Profile button{
    border-radius: 0.1cm;
    border-color: #3bce3b;
    border-width: 0.07cm;
    background-color: #000000;
    color: #3bce3b;
    width: 100%;
    max-width: 60%;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.Static_Friend_List {  
  margin-left: 10%;
  height: 100%;
  width: 90%;
  border-radius: 0.1cm;
  background-color: #323232;
  padding-left: 9%;
  padding-right:5% ;
}
.Static_Friend_List h1{
  color:white;
  font-size: 0.6cm;
  padding-left: 4.2%;
  padding-top: 10%;
  width: 100%;
  height: 10%;
}
.Static_Friend_List p{
  align-items: center;
  justify-content: center;
  font-size: 0.4cm;
  padding-left: 4.2%;
  color: white;
}




@media(max-width:1065px) {
  .Container_Profile{
    display: flex;
    flex-direction: column;
  } 
}

