.logo-header{
    margin-left: 162px;
}

.base-header{
    display: flex;
    width: 100%;
    height: 58px;
    top: 0px;
    background-color: black;
}

.botoes-header{
    display: flex;
    width: 3678px;    
    height: 58px;    
    justify-content: flex-end;
    margin-right: 162px; 
      
}


.btn-header{
    background-color: black;
    border-color: black;
    color: #808080;
    
    font-size: 16pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    cursor: pointer;
    margin-left: 43px;
    display: flex;
    align-items: flex-end;
    height: 100%;

    border-width: 3px;

}

.btn-header:hover{
    color:#3bce3b;
    border-bottom-color: #3bce3b;
}

.btn-header:checked{
    border-bottom-color: #3bce3b;
}
    

