.logo-header {
  margin-left: 12vw;
}

.base-header {
  display: flex;
  width: 100vw;
  height: 58px;
  top: 0px;
  background-color: black;
}

.botoes-header {
  display: flex;
  width: 3678px;
  height: 58px;
  justify-content: flex-end;
  margin-right: 12vw;
}

.btn-header {
  background-color: black;
  border-color: black;
  color: #808080;

  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  cursor: pointer;
  margin-left: 43px;
  display: flex;
  align-items: flex-end;
  height: 100%;

  border-width: 3px;
}

.btn-header:hover {
  color: #3bce3b;
  border-bottom-color: #3bce3b;
}

.btn-header:checked {
  border-bottom-color: #3bce3b;
}
.btn-drawer-header {
  display: none;
}
.menu-header Dropdown.Menu {
  color: black;
  background-color: black;
}
.super-colors {
  color: #000000;
  background-color: black;
}
.btn-check:active+.btn-dark, .btn-check:checked+.btn-dark, .btn-dark.active, .btn-dark:active, .show>.btn-dark.dropdown-toggle {
    color: #808080;
    background-color: #000000;
    border-color: #000000;
}




@media only screen and (max-width: 700px) {
  .botoes-header {
    display: none;
  }
  .btn-drawer-header {
    display: block;
    position: absolute;
    right: 12vw;
    top: 2.5vw;
  }
}

