.container-home{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
}

.destaques-home{
    width: 100%;
    margin-top: 34px;
}

.titulo-home{
    margin-left: 162px;
    margin-bottom: 30px;
    color: white;
    max-width: 1120px;
}

.carrossel-home{
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%), linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;

}

.promocao-home{
    margin-top: 85px;
}

.promocao-destaque-home{
    margin-left: 162px;
    margin-right: 162px;
    display: flex;
    justify-content: space-between;
    width: auto;
}

.promocao-destaque-home img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

}
.texto-promocao-destaque-home{
    margin-top: 20px;
}
.texto-promocao-destaque-home h1{
    color:white;
    font-size: 16pt;
}

.texto-promocao-destaque-home h2{
    color:white;
    opacity: 50%;
    font-size: 16pt;
    
}

.destaque1-home{
    margin-right: 52px;
}

.preco{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.conjunto-preco-destaque{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desconto-home{
    background-color: #3BCE3B;
    border-radius: 5px;
    width: 53px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.desconto-home h1{
    justify-content: center;
    align-items: center;
    font-size: 12pt;

    color: white;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todos-jogos-promocao{
    margin-top: 57px;
    margin-left: 162px;
    margin-right: 162px;
    display: flex;
    justify-content: space-between;
}

.texto-jogo1-home h1{
    color: white;
    font-size: 16pt;
}

.jogo1-promocao-home{
    display: flex;
    max-width: 532px;
    margin-bottom: 37px;
}

.imagem-jogo1-home{
    background-image: url("./images/new_world_logo.png");
    min-width: 208px;
    min-height: 181px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px;

    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.texto-jogo1-home{
    margin-left: 15px;

    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.todos-jogos-promocao h1{
    font-size: 12pt;
    text-align:start;
}

.todos-jogos-promocao h2{
    color:white;
    opacity: 50%;
    font-size: 12pt;
    text-align:start;
}

.coluna1-home{
    margin-right: 52px;
}

.botao-home{
    margin-top: 74px;
    margin-bottom: 111px;
}

#items_wrapper_home{
    width: 100vw;
}

#items_home{
    display: flex;
    overflow-x:auto;

    width: 100vw;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}


#items_home button{
    width: 100%;
    scroll-snap-align:center;

    cursor: pointer;

    background-color: transparent;
    border: none;

    margin-right: 1%;
}

#items_home::-webkit-scrollbar{
    display: none;
}

.container-home button{
    cursor: pointer;

    background-color: transparent;
    border: none;
    
    text-align: start;
}

.botao-home button{
    border-radius: 10px;
    border-style: solid;
    width: 227px;
    height: 73px;
    font-size: 12pt;

    background-color: #121212;
    border-color: #808080;

    color: white;

    cursor: pointer;

    text-align: center;
}

.botao-home button:hover{
    background-color: #3BCE3B;
}

.carrossel_titulo{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.botao_passar_pro_lado button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.botao_left img{
    transform: rotate(180deg);
    width: 20vw;
}

.botao_right img{
    width: 20vw;
}

.botao_left{
    margin-right: 25vw;
}

.botao_right{
    margin-left: 25vw;
}

.botao_passar_pro_lado{
    position: absolute;
}

.background_carrossel{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%), linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
    width: 100vw;
    height: 80vh;
    position: absolute;
}