.page-biblioteca{
    height: 100%;

}

.base-biblioteca{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100%;
}
.fileira-biblioteca{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 5%;

    justify-content: space-between;
    gap: 2%;
    
}
.fileira-biblioteca h1{
    color: #808080;
    font-size: 20pt;
    padding-bottom: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}
.botao-jogos-biblioteca img{
    width: 15vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 4px;
}
.botao-jogos-biblioteca{
  
    width: 15vw;
    
    background-color: #121212;
    border-style: hidden;
    background-size: cover;
}



.img-biblioteca{
    width: 100%;
}
.espaco-antes-do-footer{
    margin: 20%;
}

@media ( max-width: 1080px){
    .fileira-biblioteca h1{
        font-size: 15pt;
    }

}
@media (max-width: 720px){
    .fileira-biblioteca h1{
    font-size: 20pt;
    }
    .fileira-biblioteca{
        flex-direction: column; 
    }
    .botao-jogos-biblioteca{
        width: 40vw;
    }
    .botao-jogos-biblioteca img{
        width: 40vw;
        height: 50vw;
    }
}
@media(max-width:360px){
    .fileira-biblioteca h1{
        font-size: 17pt;
        }
    .botao-jogos-biblioteca{
        width: 60vw;
    }
    .botao-jogos-biblioteca img{
        width: 60vw;
        height: 75vw;
    }
}

