.page-biblioteca{
    height: 100%;

}

.titulo-biblioteca{
    padding-top: 5%;
    padding-left: 12vw;
    padding-right: 12vw;
}

.titulo-biblioteca h1{
    color: white;
}

.fileira-biblioteca{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 3%;
    padding-left: 12vw;
    padding-right: 12vw;

    justify-content: space-between;
    gap: 2%;
    
}
.fileira-biblioteca h1{
    color: #808080;
    font-size: 1.6rem;
    margin-top: 6%;
    padding-bottom: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    text-align: center;
    
}
.botao-jogos-biblioteca img{
    width: 15vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
.botao-jogos-biblioteca{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    width: 15vw;
    
    background-color: #121212;
    border-style: hidden;
    background-size: cover;
    cursor: pointer;
}

.botao-jogos-biblioteca:hover{

}

.img-biblioteca{
    width: 100%;
}
.espaco-antes-do-footer{
    margin: 20%;
}


/* @media ( max-width: 1080px){
    .fileira-biblioteca h1{
        font-size: 15pt;
    }

}
@media (max-width: 720px){
    .fileira-biblioteca h1{
    font-size: 20pt;
    }
    .fileira-biblioteca{
        flex-direction: column; 
    }
    .botao-jogos-biblioteca{
        width: 40vw;
    }
    .botao-jogos-biblioteca img{
        width: 40vw;
        height: 50vw;
    }
}
@media(max-width:360px){
    .fileira-biblioteca h1{
        font-size: 17pt;
        }
    .botao-jogos-biblioteca{
        width: 60vw;
    }
    .botao-jogos-biblioteca img{
        width: 60vw;
        height: 75vw;
    }
} */

