.container {
    padding: 16px;
    color: #ffffff;
    font-family: 'Ruda', sans-serif;
}

.jogo {
    background-color: #222222;
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
    height: 3in;

}

.jogoFoto {
   
   
}

.jogoTitulo {
    
}

.jogoDescrição {
    

}

.preço {

}

.textoPreço {

}

.valorAntigo {

}

.b2 {

}

.b1{

}
