.containerJogo {
    padding-top: 5%;
    padding-right:10%;
    padding-left: 10%;
    color: #ffffff;
    font-family: 'Ruda', sans-serif;
}

.seçãoJogo {
    padding: 2%;
    margin-bottom: 2%;
    background-color: #222222;
    border-radius: 10px;
    display: flex;
    height: 25%;
}

.jogoFoto {
    border-radius: 10px;
    margin-left: 4%;
    width: 30%;

}
.descriçãoJogo {
    margin-left: 4%;
    width: 35%;
    

}



.jogoTitulo {
    font-size: xx-large;
}

.jogoDescrição {
    font-size: medium;
    margin-top: -3%;
    
  
}

.botaoVejaMais {
    font-size: medium;
    background: #000000;
    color: #ffffff50;
    border-style: none;
    border-radius: 5px;
    height: 12%;
    width: 30%;
    display: inline-block;
    bottom: 0%;

}
.botaoVejaMais:hover {
    color: #ffffff;
}

.preçoJogo {
    margin-left: 10%;
    text-align: center;
    
    

}

.textoPreço {
    font-size: large;

}

.valorAntigo {
    font-size: xx-large;
    

}




.botaoComprar {
    font-size: larger;
    background: #3BCE3B90;
    color: #ffffff;
    border-style: none;
    border-radius: 5px;
    height: 18%;
    width: 120%;
    vertical-align: 0%;
}

.botaoComprar:hover {
    background: #3BCE3B;

}