/* Toda a página*/
.Container_Editar_Perfil {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;
}

/*Parte superior da página, contendo foto de perfil e nome */
.Parte_de_Cima_Editar_Perfil {
  width: 100%;
  height: 20%;
}
.Dados_Editar_Perfil {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #323232;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-top: 2%;
  border-radius: 0.1cm;
}
.Foto_Editar_Perfil {
  width: 15%;
  height: 100%;
  border-radius: 50%;
}
.Nome_Dados_Editar_Perfil {
  font-size: 0.7cm;
  color: white;
  padding-left: 2%;
}
.Excluir_Perfil {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width:25%;
  margin-left: 10%;
  
}
.Excluir_Perfil button {
  background-color: transparent;
  color: white;
  opacity: 35%;
  border: hidden;
  border-radius: 4px;
  font-size: 9pt;
  padding-right: 2%;
  padding-top: 2%;
  display: flex;
  align-items: center;
}
.Excluir_Perfil svg{
  width: 28px;
  height: 28px;
}

/*Parte de baixo do perfil, dividido em 2 partes*/
.Parte_de_Baixo_Editar_Perfil {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

/* Lado esquerdo do perfil */
.Lado_Esquerdo_Editar_Perfil {
  width: 50%;
  height: 100%;
  padding-top: 5%;
}
.Botao_Avatar {
  display: flex;
  align-items: center;
  width: auto;
}
.Botao_Avatar h1 {
  color: #323232;
  text-align: center;
  font-size: 12pt;
  margin-top: 1%;
}
.Text_Box_Nome_Editar_Perfil {
  background-color: #323232;
  color: white;
  border-radius: 0.1cm;
  border-style: hidden;
  width: 100%;
  height: 35px;
  padding-left: 3%;
  font-size: 0.5cm;
}
.Text_Box_Resumo_Editar_Perfil {
  margin-top: 5%;
  background-color: #323232;
  color: white;
  border-radius: 0.1cm;
  border-style: hidden;
  width: 100%;
  height: 35px;
  padding-left: 3%;
  font-size: 0.5cm;
}

.Escrita_Avatar {
  color: white;
  font-size: 20pt;
  font-weight: bold;
  padding-bottom: 2%;
}
.Text_Box_Editar_Perfil {
  background-color: #323232;
  color: white;
  border-radius: 0.1cm;
  border-style: hidden;
  width: 100%;
  height: 30px;
  padding-left: 3%;
}
.Mudar_Foto_Perfil {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 15%;
}
.Mudar_Avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #121212;
  border: 0.25px solid #b7c1ba;
  box-sizing: border-box;
  color: white;
  border-radius: 3px;
  font-size: 0.5cm;
}

.Mudar_Avatar:hover {
  background: #3bce3b;
  color: #000000;
  border: 0.25px solid #000000;
}
.Botao_Avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Lado direito do perfil*/
.Lado_Direito_Editar_Perfil {
  width: 50%;
  height: 100%;
  padding-top: 5%;
  padding-left: 3%;
}
.Escrita_Direita {
  color: white;
  font-size: 0.7cm;
  padding-bottom: 1%;
  padding-top: 1%;
  font-weight: bold;
}

.Text_Box_Email_Editar_Perfil {
  background-color: #323232;
  color: white;
  border-radius: 0.1cm;
  border-style: hidden;
  width: 100%;
  height: 30px;
  padding-left: 3%;
}

.Text_Box_Telefone_Editar_Perfil {
  background-color: #323232;
  color: white;
  border-radius: 0.1cm;
  border-style: hidden;
  width: 100%;
  height: 30px;
  padding-left: 3%;
}

.Mudar_Telefone {
  width: 50%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
}
/*/////////////////////////////////////////*/
.País_Estado {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2%;
  margin-bottom: 2%;
}
.Text_Box_País_Editar_Perfil {
  background-color: #323232;
  color: white;
  border-radius: 0.1cm;
  border-style: hidden;
  width: 100%;
  height: 30px;
  padding-left: 3%;
}
.Text_Box_Estado_Editar_Perfil {
  background-color: #323232;
  color: white;
  border-radius: 0.1cm;
  border-style: hidden;
  width: 100%;
  height: 30px;
  padding-left: 3%;
}
/*//////////////////////////////////*/
.Cidade_Bairro {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2%;
  margin-bottom: 2%;
}

.Text_Box_Cidade_Editar_Perfil {
  background-color: #323232;
  color: white;
  border-radius: 0.1cm;
  border-style: hidden;
  width: 50%;
  height: 30px;
  padding-left: 3%;
}
.Text_Box_Bairro_Editar_Perfil {
  background-color: #323232;
  color: white;
  border-radius: 0.1cm;
  border-style: hidden;
  width: 50%;
  height: 30px;
  padding-left: 3%;
}
.Rua_Numero {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2%;
  margin-bottom: 2%;
}
.Text_Box_Rua_Editar_Perfil {
  background-color: #323232;
  color: white;
  border-radius: 0.1cm;
  border-style: hidden;
  width: 75%;
  height: 30px;
  padding-left: 3%;
}
.Text_Box_Numero_Editar_Perfil {
  background-color: #323232;
  color: white;
  border-radius: 0.1cm;
  border-style: hidden;
  height: 30px;
  padding-left: 3%;
  width: 25%;
}

.Botão_Confirmar_Alterações {
  margin-top: 4%;
  align-items: center;
  justify-content: center;
  margin-left: 16%;
  width: 70%;
  height: 30%;
  font-size: 0.55cm;
  border-radius: 0.1cm;
  border-color: #3bce3b;
  background-color: #121212;
  color: white;
  border: 0.25px solid #b7c1ba;
  margin-bottom: 2%;
}
.Botão_Confirmar_Alterações:hover {
  background: #3bce3b;
  color: #000000;
  border: 0.25px solid #000000;
}
.Barra_Verde_Estética {
  background-color: #3bce3b;
  color: #3bce3b;
  height: 1px;
  width: 100%;
}

@media (max-width: 1080px) {
  .Container_Editar_Perfil {
    display: flex;
    align-items: center;
    padding: 2%;
  }
  .Excluir_Perfil {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width:25%
    
  }
  .Excluir_Perfil button {
    background-color: transparent;
    color: white;
    opacity: 35%;
    border: hidden;
    border-radius: 4px;
    font-size: 9pt;
    padding-right: 2%;
    display: flex;
    align-items: center;
    text-align:justify;
  }
  

}
@media (max-width: 720px) {
  .Parte_de_Baixo_Editar_Perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Lado_Esquerdo_Editar_Perfil {
    width: 100%;
  }
  .Lado_Direito_Editar_Perfil {
    width: 100%;
    padding: 0;
  }
  .Dados_Editar_Perfil {
    margin-top: 6px;
  }
  .Botao_Avatar h1 {
    font-size: 8pt;
  }
  .Nome_Dados_Editar_Perfil {
    font-size: 14pt;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
  .Foto_Editar_Perfil {
    width: 30%;
  }
  .Botão_Confirmar_Alterações {
    font-size: 14pt;
  }
  .Text_Box_Nome_Editar_Perfil {
    height: 30px;
    font-size: 12pt;
  }
  .Text_Box_Resumo_Editar_Perfil {
    height: 30px;
    font-size: 12pt;
    margin-top: 2%;
  }
  .Botao_Avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .Botao_Avatar h1 {
    font-size: 12pt;
  }
  .Mudar_Foto_Perfil {
    margin-top: 2%;
  }
  .Excluir_Perfil {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width:25%
    
  }
  .Excluir_Perfil button {
    background-color: transparent;
    color: white;
    opacity: 35%;
    border: hidden;
    border-radius: 4px;
    font-size: 9pt;
    padding-right: 2%;
    display: flex;
    align-items: center;
    text-align:justify;
  }
  
}
@media (max-width: 360px) {
  .Dados_Editar_Perfil {
    margin-top: 6px;
  }
  .Botao_Avatar h1 {
    font-size: 8pt;
  }
  .Nome_Dados_Editar_Perfil {
    font-size: 14pt;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
  .Foto_Editar_Perfil {
    width: 30%;
  }
  .Botão_Confirmar_Alterações {
    font-size: 14pt;
  }
  .Text_Box_Nome_Editar_Perfil {
    height: 30px;
    font-size: 12pt;
  }
  .Text_Box_Resumo_Editar_Perfil {
    height: 30px;
    font-size: 12pt;
  }
  .Text_Box_Email_Editar_Perfil {
    height: 25px;
    font-size: 12pt;
  }
  .Text_Box_Telefone_Editar_Perfil {
    height: 25px;
    font-size: 12pt;
    padding-left: 2.5%;
  }
  .Mudar_Telefone {
    width: 100%;
  }
  .Text_Box_País_Editar_Perfil {
    height: 25px;
    font-size: 12pt;
  }
  .Text_Box_Estado_Editar_Perfil {
    height: 25px;
    font-size: 12pt;
  }
  .Text_Box_Cidade_Editar_Perfil {
    height: 25px;
    font-size: 12pt;
  }
  .Text_Box_Bairro_Editar_Perfil {
    height: 25px;
    font-size: 12pt;
  }
  .Text_Box_Rua_Editar_Perfil {
    height: 25px;
    font-size: 12pt;
  }
  .Text_Box_Numero_Editar_Perfil {
    height: 25px;
    font-size: 12pt;
  }
  .Excluir_Perfil {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width:25%
    
  }
  .Excluir_Perfil button {
    background-color: transparent;
    color: white;
    opacity: 35%;
    border: hidden;
    border-radius: 4px;
    font-size: 9pt;
    padding-right: 2%;
    display: flex;
    align-items: center;
    text-align:justify;
  }
  
}
@media (max-width: 280px) {
  .Escrita_Direita {
    font-size: 18pt;
  }
  .Escrita_Avatar {
    font-size: 18pt;
  }
  .Excluir_Perfil {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width:25%
    
  }
  .Excluir_Perfil button {
    background-color: transparent;
    color: white;
    opacity: 35%;
    border: hidden;
    border-radius: 4px;
    font-size: 9pt;
    padding-right: 2%;
    display: flex;
    align-items: center;
    text-align:justify;
  }
  
}
