*   { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body,
div#root{
    height: 100%;
    background-color: #121212;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}
    ::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    }
    ::-webkit-scrollbar-thumb{
    background: #242323;
    border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #808080;
    }
    ::-webkit-scrollbar-track{
    background: #121212;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }

    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');